/* input[type=number]::-webkit-inner-spin-button,  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]{
    /* -moz-appearance:textfield; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid grey;
     color: #000;
     width: 250px;
     height: 30px;
     padding-left: 20px;
     padding-right: 23px;
    }

    input[type=text]{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
         border-radius: 20px;
         border: 1px solid grey;
         color: #25f0e9;
         width: 250px;
         height: 30px;
         padding-left: 10px;
        }
    
input[type=text]:focus {
     outline: none;
     border: 1px solid #2d9fd9;
     color: #2d9fd9;
}

.error{
     /* position: absolute; */
  /* left: 150px; */
  /* background-color: #2d9fd9; */
  width: 200px;
  margin-left: 30%;
  text-align: end;
  /* height: 120px; */
  /* border: 3px solid green; */
    /* margin: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start; */
    color: red;
}

.empmatlim,.empmatch,.expanret,.contr {
    padding-right: 20px;
    background: url("https://static.thenounproject.com/png/1134885-200.png") no-repeat right;
    background-size: 20px;
  }

  .salary,.curb {
    /* margin-left: 25px; */
    /* padding-left: 40px; */
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/1805879-200.png") no-repeat left;
    background-size: 20px;
  }