.App-header{
  margin: auto;
  background-color: gainsboro;
  /* width: 50%; */
  height: 40px;
  justify-content: center;
  /* align-items:flex-end; */
  /* text-align: center; */

}

.hdrtx{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  
}

